@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');
.App {
  height: auto;
  width: 100%;
  position: relative;
}
.header {
  height: auto;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  background-color: #01a5acde;
}
.header img {
  height: 65px;
}
.header p {
  font-family: 'Qahiri', sans-serif;
  margin: 0 auto;
  padding: 0;
  font-size: 3rem;
  text-transform: uppercase;
}
.header button {
  padding: 0.75rem;
  margin-left: 3px;
  font-size: 18px;
  font-weight: 700;
  background-color: #ebe702;
  color: #000000;
  border: 1px solid #ebe702;
  border-radius: 5px;
  outline: none;
}
.header button:hover {
  background-color: #eb0263;
  color: #ffffff;
  border: 1px solid #eb0263;
}

.main-content {
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
form {
  width: auto;
}

form label {
  display: block;
  padding: 2px;
  font-size: 14px;
  font-style: italic;
}

input[type='text'] {
  padding: 1rem 3rem;
  border-radius: 3px;
}
input:focus-visible {
  outline: none;
  border: 2px solid #01a6acf5;
  border-radius: 3px;
}
.selected-tags {
  background: #c7c7c7;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.selected-tags p {
  display: inline-block;
  margin: 0.25rem;
  padding: 0.25rem;
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  text-transform: capitalize;
  background: #ffffff;
}

.remove {
  padding: 0.35rem 0.5rem;
  margin-left: 3px;
  font-size: 14px;
  font-weight: 700;
  background-color: #eb023c;
  color: #ffffff;
  border: 1px solid #eb023c;
  border-radius: 5px;
  outline: none;
}
.remove:hover {
  background-color: #eb023c;
  color: #000000;
  border: 1px solid #eb023c;
  cursor: pointer;
}

button {
  padding: 1rem;
  margin-left: 3px;
  font-size: 16px;
  font-weight: 700;
  background-color: #eba502;
  color: #000000;
  border: 1px solid #eba502;
  border-radius: 5px;
  outline: none;
}
button:hover {
  background-color: #00b30f;
  color: #000000;
  border: 1px solid #00b30f;
  cursor: pointer;
}
.suggestion-box {
  background: #c7c7c7;
  padding: 0.75rem;
  margin-top: 2px;
}
li {
  text-align: center;
  list-style: none;
  font-size: 16px;
  font-weight: 700;
  margin: 0.25rem;
  padding: 0.25rem;
  background: #ffffff;
  color: #000000;
  text-transform: capitalize;
}
li:hover {
  cursor: pointer;
  background: #0073d1;
  color: #ffffff;
}
